.card {
  background-image: url(../img/images/bg.svg);
  background-position: top 30px center;
  background-repeat: no-repeat;
  
  .title {
    margin-top: 5px;
    font-size: 48px;
    line-height: 1.2;
    font-style: normal;
    text-transform: none;
    
    &::before {
      top: 27px;
    }
  }
}

.card__wrap {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.card__info {
  width: ~"calc(100% - 742px)";
  padding: 15px 35px;
}

.card__slider {
  width: 742px;
  height: 490px;
  display: flex;
  position: relative;
}

.card__slide {
  box-sizing: border-box;
  
  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
  }
  
  img {
    display: block;
    flex: 0 0 auto;
  }
}

.gallery-top {
  height: auto;
  width: 603px;
  margin-right: 21px;
  box-sizing: border-box;
}

.gallery-thumbs {
  width: 118px;
  box-sizing: border-box;
  margin: 37px 0;
}

.card__thumb {
  width: 100%;
//  height: 25% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid rgba(255,255,255,0);
  box-sizing: border-box;
  border-radius: 2px;
  
  img {
    display: block;
    height: 100%;
    max-width: none;
    flex: 0 0 auto;
  }
}

.gallery-thumbs .swiper-slide-thumb-active {
  border-color: @green;
}

.card__next,
.card__prev {
  right: 45px;
  left: auto;
  width: 30px;
  height: 30px;
  margin-top: 0;
  background-image: url(../img/icons/slider-arrow.svg);
  background-size: 19px 13px;
  outline: none;
}

.card__prev {
  top: 10px;
  transform: rotate(180deg);
}

.card__next {
  top: auto;
  bottom: 10px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 12px;
  color: @green;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.card__table {
  .reset();
  list-style: none;
}

.card__line {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(126.66deg, rgba(255,205,51,0.3) -2.48%, rgba(255,229,148,0.3) 100%);
  border-radius: 5px;
  
  p {
    margin: 0;
    padding: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  p:first-child {
    flex-grow: 1;
  }
  p:last-child {
    width: 120px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(103.83deg, #FFCD33 -2.48%, #FFE594 100%);
    border-radius: 5px;
  }
  &:last-child {
    margin-bottom: 7px;
  }
}

.card__comment {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 14px;
  color: #E84B4B;
  opacity: 0.9;
}

.card__title-2 {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  opacity: 0.8;
}

.card__calc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.card__number {
  margin: 0;
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.card__input {
  display: block;
  width: 72px;
  height: 37px;
  margin-right: 20px;
  font-weight: 500;
  padding-left: 10px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card__done {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #5CA94E;
  background: rgba(92, 169, 78, 0.25);
  border-radius: 4px;
  .transition();
  
  &:hover,
  &:active {
    color: #fff;
    background-color: @green;
    .transition();
  }
}

.card__price {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  opacity: 0.8;
}

.card__btn {
  width: 100%;
  height: 49px;
  font-weight: 500;
  font-size: 18px;
  
  &::after {
    top: 6px;
    right: 7px;
    width: 36px;
    height: 36px;
    padding-left: 20px;
    background-image: url(../img/icons/shopping.svg);
    background-size: 20px 16px;
  }
}

.card__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 15px;
  color: @green;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background: #353535;
  border-radius: 0 0 8px 8px;
}

.card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 108px;
  height: 110px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  padding: 8px;
  background: linear-gradient(135.14deg, rgba(107,196,91,0.3) 3.48%, rgba(107, 196, 91, 0.1) 97.89%);
  border-radius: 7px;
  
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--01::before {
    width: 49px;
    height: 49px;
    background-image: url(../img/icons/icon-1.svg);
  }
  &--02::before {
    width: 60px;
    height: 60px;
    top: 15px;
    background-image: url(../img/icons/icon-2.svg);
  }
  &--03::before {
    width: 64px;
    height: 64px;
    top: 15px;
    background-image: url(../img/icons/icon-3.svg);
  }
  &--04::before {
    width: 49px;
    height: 49px;
    background-image: url(../img/icons/icon-4.svg);
  }
  &--05::before {
    width: 50px;
    height: 51px;
    background-image: url(../img/icons/icon-5.svg);
  }
  &--06::before {
    width: 49px;
    height: 49px;
    background-image: url(../img/icons/icon-6.svg);
  }
  &--07::before {
    width: 49px;
    height: 49px;
    background-image: url(../img/icons/icon-7.svg);
  }
}
